
.navbar {
    margin-bottom: 0 !important;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    
}
.navbar-brand b {
	font-size: 50px;
}
.navbar-toggle {
    z-index:3;
}